*{
    margin: 0;
    padding: 0;
}

body{

    
    --color1: cadetblue;
    --footercolor: black;
}









/* content css */
.content{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    
    background-image: url(../Poze/brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contact{
		padding: 4%;
		
	}
	.col-md-3{
		background: #ff9b00;
		padding: 4%;
		border-top-right-radius: 0.5rem;
		border-bottom-right-radius: 0.5rem;
	}
	.contact-info{
		margin-top:10%;
	}
	.contact-info img{
		margin-bottom: 15%;
	}
	.contact-info h2{
		margin-bottom: 10%;
	}
	.col-md-9{
		background: #fff;
		padding: 3%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.contact-form label{
		font-weight:600;
	}
	.contact-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	.contact-form button:focus{
		box-shadow:none;
	}
/* end content css */

